<div class="jumbotron text-centre">
    <h1 class="display-3">
        {{title}}
    </h1>
    <p class="lead">
            What do you have in Mind!!!
    </p>
    <a href="/notes/add" class="btn btn-dark btn-lg">Add Notes</a>
</div>